*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  body{
    background-color: #000000;
  } 
  
  /*HEADER E MENU*/
  header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 140px;
    transition: 0.5s ease;
    position: fixed;
  }
  
  header .logo{
    color: #ffffff;
    font-family: "Paytone One";
    text-shadow: 2px 2px 5px rgb(255, 0, 0);
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
   
  header .navigation{
    position: relative;
    /* display: none; */
  }
  
  header .navigation.show {
    display: flex; 
  }
  
  header .navigation .navigation-items a{
    position: relative;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
    font-family: "Lilita One" , sans-serif;
  }
  
  header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: #ff0000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:hover:before{
    width: 100%;
  }
  
  @media (max-width: 1040px){
    header{
      padding: 12px 20px;
    }
  
    section {
      padding: 100px 20px;
    }
  
    header .navigation{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(1, 1, 1, 0.5);
    }
  
    header .navigation .navigation-items a{
      color: #ffffff;
      font-size: 1.2em;
      margin: 20px;
    }
  
    header .navigation .navigation-items{
      background: rgba(255, 255, 255, 0.062); /* Cor de fundo com opacidade */
      backdrop-filter: blur(10px); /* Aplica o desfoque */
      width: 300px;
      max-width: 600px;
      margin: 20px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
    }
  
    .menu{
      background: url(/icones_header/bars-solid.svg)no-repeat;
      background-size: 30px;
      background-position: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: 0.3s ease;
      color: rgb(255, 255, 255);
    }
  
    .menu.active{
      z-index: 999;
      background: url(/icones_header/circle-xmark-regular.svg)no-repeat;
      background-size: 25px;
      background-position: center;
      transition: 0.3s ease;
    }
  }
  
  header .navigation{
    text-align: center;
  }
  
   @media (max-width: 1040px){
    header{
        padding: 12px 20px;
    }
  
    section{
        padding: 100px 20px;
    }
  
    .home .media-icons{
        right: 15px;
    }
  
    header .navigation{
        display: none;
    }
  }  


  .trailer {
    display: flex;         
    justify-content: center; 
    align-items: center;   
    width: 100%;           
    height: auto;     
  }
  
  iframe {
    width: 560px;
    height: 315px;
  }


.sinopse {
  display: flex;          /* Usando flexbox para alinhar a imagem e o texto lado a lado */
  align-items: center;    /* Alinha o conteúdo verticalmente */
  color: #ffffff;
}

.sinopse img {
  width: 20%;         
  margin-right: 20px;     
  margin-left: 50px;
  border-radius: 5px 5px 30px 0px;
}

.descricao {
  flex: 1;                /* O texto ocupa o restante do espaço disponível */
}

.descricao h2 {
  margin-top: -100px;
  font-family: "Paytone One", sans-serif;
}

.descricao p {
  line-height: 1.6;       /* Aumenta o espaçamento entre as linhas do texto */
  font-family: "Paytone One", sans-serif;
}

.resumo h1{
  color: #ffffff;
  font-family: "Paytone One", sans-serif;
  margin-left: 50px;
}

.resumo p{
  color: #ffffff;
  margin-left: 50px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  margin-right: 70px;
}

.apps h1{
  color: #ffffff;
  margin-left: 50px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  margin-right: 70px;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 70px;
}
